{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="login">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}



    <div class="wrapper">
      <div class="title">Login</div>
      <form action="#">
        <div class="field email">
            <input style="width: 300px; height: 30px;" type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="field pass">
            <input style="width: 300px; height: 30px;" type="password" placeholder="Password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
        <div class="field">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="button-36" type="submit">Sign in</button>
        </div>
        <div class="signup-link">Not a member? <a href="{{ path('app_register') }}">Signup now</a></div>
      </form>
    </div>
</form>
</div>
{% endblock %}
