{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    
    {% if app.user %}
    <script type="text/javascript">
         window.onload = function () {
    if (confirm("You have logged! Return?")) {
      history.go(-1);
      } 
    };
    </script>
    {% endif %}
    {{ form_start(registrationForm) }}
        <div class="wrapper">
        <div class="title">Register</div>
    
        <div class="field regmail">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="field plainpass">
                   {{ form_row(registrationForm.plainPassword) }}
        </div>
        <div class="agreeterm">{{ form_row(registrationForm.agreeTerms) }}</div>
        <div class="field">
                
                <button class="button-36 btnreg" type="submit">Register</button>
        </div>
        
      
    </div>
    {{ form_end(registrationForm) }}
    
{% endblock %}
