{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Customer index</h1>

    <table  class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.Name }}</td>
                <td>{{ customer.Email }}</td>
                <td>{{ customer.Address }}</td>
                <td>{{ customer.Phone }}</td>
                <td>
                    <a class="button-58" href="{{ path('app_customer_show', {'id': customer.id}) }}">show</a>
                    <a class="button-58" href="{{ path('app_customer_edit', {'id': customer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button-66" href="{{ path('app_customer_new') }}">Create new</a>
    <a style="position:relative; top:10px;"class="button-24" href="{{ path('home') }}">Back To Home</a>
{% endblock %}
