{% extends 'base.html.twig' %}

{% block title %}Song{% endblock %}

{% block body %}
    <h1>Song</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ song.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ song.Name }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ song.Category.Name }}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td>{{ song.Artist.Name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ song.Price }}</td>
            </tr>
            <tr>
                <th>Song_URL</th>
                <td>{{ song.SongURL }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_song_index') }}">back to list</a>

    <a href="{{ path('app_song_edit', {'id': song.id}) }}">edit</a>

   
{% endblock %}
